<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>

  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
<% } else { %>
  <% var last; %>
  <% var lastMonth; %>
  <% var MonthMap = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
<!-- 获取各月文章数量 -->

<%
var current_year, last_year, current_month, last_month;
var month_posts_counts = 0; // 统计月份文章数量
var year_posts_counts = 0; // 统计年份文章数量
var month_posts_num = []; // 统计月份文章数量
var year_posts_num = []; // 年份文章数量
var year_store = []; // 记录文章出现的年份

page.posts.each(function(post, i) {
	current_year = post.date.year();
	current_month = post.date.format('MM'); // 从0开始
	if(last_year == null) last_year = current_year;
	if(last_month == null) last_month = current_month;

	if(current_month != last_month) {
		month_posts_num.push(month_posts_counts);
		year_posts_counts += month_posts_counts;
		last_month = current_month;
		month_posts_counts = 1;
	}
	else ++month_posts_counts;

	if(current_year != last_year) {
		last_year = current_year;
		year_posts_num.push(year_posts_counts);
		year_posts_counts = 0;
	}
})

month_posts_num.push(month_posts_counts); // 最后一月
year_posts_num.push(year_posts_counts+month_posts_counts); // 最后一年

cnt_id = 0;
current_year_id = 0;
%>


  <% page.posts.each(function(post, i){ %>

<!-- 年份分类 -->
    <% var year = post.date.year(); %>

    <% if (last != year){ %>
      <% if (last != null){ lastMonth = null; %>
	  </div>
       </section>
      <% } %>
      <% last = year; %>
	  <% year_store.push(year) %>
      <section class="archives-wrap" id="year<%- year %>">
        <div class="archive-year-wrap">
          <a class="archive-year" id="toc_year<%- year %>"><%= year %>(<%= year_posts_num[current_year_id++] %> Posts)</a><span class="hide">HideAll</span>
        </div>
    <% } %>

<!-- 月份分类 -->
    <% var month = post.date.format('MM'); %>
	<% if(month != lastMonth) { %>
		<% if(lastMonth != null) { %>
			</div>
		<% } %>
		<% lastMonth = month %>
         <div class="article-month"><h2 id="tog<%- cnt_id %>"><%= MonthMap[parseInt(month)-1] %> (<%- month_posts_num[cnt_id++] %> Posts)</h2></div>

        <div class="archives" id="archives<%- cnt_id-1 %>">
	<% } %>


    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>

    <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>


<script>
for(var i=1; i<<%- month_posts_num.length %>; ++i)
	$("#archives"+i).toggle(0);

<% for(var i=0; i<year_store.length; ++i) { %>
	$("#toc_year<%- year_store[i] %>").click(function(){
		if($("#toc_year<%- year_store[i] %> + span").text() == "HideAll") {
			$("#year<%- year_store[i] %> div[style='display: none;']").toggle(500);
			$("#year<%- year_store[i] %> .archives").addClass("show");
			$("#toc_year<%- year_store[i] %> + span").text("ShowAll");
		}
		else {
			$("#year<%- year_store[i] %> .archives").toggle(500);
			$("#toc_year<%- year_store[i] %> + span").text("HideAll");
		}

	})
<% } %>

<% for(var i=0; i<month_posts_num.length; ++i) { %>
	$("#tog<%- i %>").click(function(){
		$("#archives<%- i %>").toggle(400);
	})
<% } %>

</script>
<% } %>
